---
const { name, description, bestAttractions, image, flag } = Astro.props;
---

<div class="place">
  <h2>
    {name} <img src={flag} alt={`Flag of ${name}`} class="flag" /> 
  </h2>
  <p>{description}</p>
  <h3>Best Attractions:</h3>
  <ul>
    {bestAttractions.map((attraction: unknown) => (
      <li>{attraction}</li>
    ))}
  </ul>
  <img src={image} alt={name} />
</div>